<section>
</section>

<!-- particles.js container -->
<div id="particles-js">
<!--   <div class="home-content">
    Galvenvs aims to provide researchers and clinicians turn-key solutions,
addressing the need for seamless, operator-friendly cell culture and
bioanalytical platforms.

  </div> -->
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
