<section>
</section>

<!-- particles.js container -->
<div id="particles-js"></div>
<%= javascript_include_tag 'particles.min', 'app'%>

  <div class="home-content">
    <%= image_tag('logo1.png', width: "100%")%>
    <h2>Simplicity Is The New Standard</h2>
  </br>
    <button style="color:white;" type="button" class="btn btn-lg btn-purple">
      <%= link_to "Contact Us", new_contact_path %>
    </button>
  </div>

</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
 <!-- stats.js lib -->
<!-- <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>  -->
