<section>
</section>

<!-- particles.js container -->
<div id="particles-js"></div>
<%= javascript_include_tag 'particles.min', 'app'%>
  <div class="home-content">
    <%= image_path('logo1.png')%>
    <h2>Simplicity Is The New Standard</h2>
    <div class="custom-button"><%= link_to "Contact us", new_contact_path %></div>
  </div>
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
 <!-- stats.js lib -->
<!-- <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>  -->
