<section>
  <canvas id='bubbleCanvas'></canvas>
  <div class="coming_content">
    <h1>Coming Soon</h1>
    <div class="separator_container">
    </div>
    <h3>I like beer. Oh, and Javascript too.</h3>
  </div>
</section>
