<!--
<div class="support-container">
  <div class="support-brochures">
    <h1>Brochures</h1>
  </div>
  <div class="support-videos">
    <h1>Videos</h1>
  </div>
  <div class="support-tutorials">
    <h1>Tutorials</h1>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <h1 style="color: #761f4a;">Brochures</h1>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.cd-bioparticles.com/flyer/flyer-1.jpg');">
            <button class="btn btn-primary">
            Read more
                <a class="support-card-link" href="https://www.cd-bioparticles.com/flyer/pdf/Absolute-Mag%E2%84%A2-Antibody-binding-Magnetic-Particles-for-Immunoprecipitation-(IP).pdf" >
          </button>
          </a>
        </div>
        <h6>Absolute Mag™ Anitbody-binding Magnetic Particles for Immunoprecipitation (IP)</h6>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.cd-bioparticles.com/flyer/flyer-2.jpg');">
            <button class="btn btn-primary">
            Read more
                <a class="support-card-link" href="https://www.cd-bioparticles.com/flyer/pdf/DiagNano%E2%84%A2-Gold-Nanoparticles-for-Lateral-Flow-Immunoassays.pdf" >
          </button>
          </a>
        </div>
        <h6>DiagNano™ Gold Nanoparticles for Lateral Flow Immunoassay</h6>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.cd-bioparticles.com/flyer/flyer-3.jpg');">
            <button class="btn btn-primary">
            Read more
                <a class="support-card-link" href="https://www.cd-bioparticles.com/flyer/pdf/DiagNano%E2%84%A2-Coloured-Silica-Particles.pdf" >
          </button>
          </a>
        </div>
        <h6> DiagNano™ Coloured Silica Particles</h6>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <h1 style="color: #761f4a;">Videos</h1>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <iframe
          src="https://www.youtube.com/embed/yimGMrT6KoM" width="420" height="315">
        </iframe>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <iframe width="420" height="315"
            src="https://www.youtube.com/embed/PVvpEKeOzEM">
        </iframe>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <iframe width="420" height="315"
          src="https://www.youtube.com/embed/kjJ56z1HeAc">
        </iframe>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <h1 style="color: #761f4a;">Tutorials</h1>
  </div>
</div>
