<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>CONTACT US</h1>
  <p class="contact-us-content" style="color:black; font-size: 18px;">At <strong style="color: #761f4a;">Galenvs</strong> we are commited to providing the life sciences R&D community with tools that address complex biomedical challenges through simple and elegant solutions. <br><br>
  We would love to hear from you!
  Let us know how we can help by filling one of the following contact forms.</p>
  <div>
    <!-- <a href="">General Inquiry</a> -->
    <div class="custom-button"><%= link_to "General Inquiry", new_contact_path %></div>
  </div>
  <!-- <div> -->
    <!-- <a href="#">Become a distributor</a> -->
  <!-- <div class="custom-button" style="color:white;"><%#= link_to "Become a distributor", new_contact_path %></div>
  </div> -->
</div>


<div class="section">
  <div class="top-border left"> </div>
  <div class="top-border right"></div>
  <h2>Our Location</h2>

  <h5>6830 Parc Ave, <strong style="color: #761f4a;">Suite 513</strong>, Montreal Quebec, H3N 1W7 </h5>
  <iframe width="90%" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDDIQ6UxR0-PH8FoN9ltcZ4DMBtY_8JMt4
    &q=6830+Park+Ave,+Montreal,+QC+H3N+1W7" allowfullscreen>
  </iframe>
</div>



