<div class="section">
  <div class="top-border left">
  </div>
  <div class="top-border right">
  </div>
  <h1>CONTACT US</h1>
  <p class="contact-us-content" style="font-size: 18px;">At <strong style="color: #761f4a;">Galenvs</strong> we are commited to providing the life sciences R&D community with tools that address complex biomedical challenges through simple and elegant solutions. <br><br>
  We would love to hear from you!
  Let us know how we can help by filling one of the following contact forms.</p>
  <div>
    <!-- <a href="">General Inquiry</a> -->
    <div class="custom-button"><%= link_to "General Inquiry", new_contact_path %></div>
  </div>
  <div>
    <!-- <a href="#">Become a distributor</a> -->
  <div class="custom-button" style="color:white;"><%= link_to "Become a distributor", new_contact_path %></div>
  </div>
</div>
<div class="section">
  <div class="top-border left">
  </div>
  <div class="top-border right">
  </div>
  <h2>Our Location</h2>
  <img width="600" src="https://maps.googleapis.com/maps/api/staticmap?center=3-4485+av.+de+l'Hôtel-de-Ville++Montréal+(Québec)+H2W+2H6++Canada&zoom=77&scale=1&size=600x300&maptype=roadmap&key=AIzaSyAan8shlbXS8LDhgpuv_2ElUtdkSyf670o&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C3-4485+av.+de+l'Hôtel-de-Ville++Montréal+(Québec)+H2W+2H6++Canada" alt="Google Map of 3-4485 av. de l'Hôtel-de-Ville  Montréal (Québec) H2W 2H6  Canada">
</div>

